{% extends 'studmain/studbase.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h3> Registered Courses</h1>
    <form action="" method="get">
      {% csrf_token %}

    <table class="w3-table-all">
            <thread>
            <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Credit</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
    </thread>
    {% for d in Course %}
    <tr class="w3-hover-blue">
      
      <td >{{d.course_id}}</td>
      <td>{{d.course_name}}</td>
      <td>{{d.course_credits}}</td>
      <td>{{d.course_type}}</td>
      <td>{{d.course_status}}</td>
    </tr>
    {% endfor %}
    <!--
    <tr class="w3-hover-blue">
      <td><input type="checkbox" id="course" name="Select" value="courses">
                <label for="courses"></label></th></td>
      <td >15CSE18</td>
      <td>COA</td>
      <td>2</td>
      <td>Regural</td>
    </tr>
    <tr class="w3-hover-blue">
      <td><input type="checkbox" id="course" name="Select" value="courses">
                <label for="courses"></label></th></td>
      <td >15MAT16</td>
      <td>MATHS</td>
      <td>4</td>
      <td>Regural</td>
    </tr>
    <tr class="w3-hover-blue">
      <td><input type="checkbox" id="course" name="Select" value="courses">
                <label for="courses"></label></th></td>
      <td >15CSE17</td>
      <td>DBMS</td>
      <td>4</td>
      <td>Regural</td>
    </tr>
    <tr class="w3-hover-blue">
      <td><input type="checkbox"  id="course" name="Select" value="courses">
                <label for="courses"></label></th></td>
      <td >15CSE16</td>
      <td>TOC</td>
      <td>3</td>
      <td>Regural</td>
    </tr>-->

        </table>
    
</form>

{% endblock %}