{% extends 'studmain/studbase.html' %}
{% load static %}
{% block content %}
   
<div class="container">
    <h1>ASSIGNMENTS</h1>
    <div class="panel-group" id="accordion">
        <div class="faqHeader"><h5>DBMS</h5></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Chapter 1</a>
                </h4>
            </div>
            {% for m in assignsub %}
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
    
                    <a href={{m.assignment_ans.url}}>
                    Assignment
                    </a>
                    <div class="text-right"> 
                        
                    </div>
                </div>
                {% endfor %}
                  </div>
        </div>

 <center>
<div><button type="button" class="btn btn-info">
<a  href="{% url 'facgocourse' %}">Back</a>
</button></div>
{% endblock %}
