{% extends 'facmain/facbase.html' %}
{% load static %}
{% block content %}
  <h3> MY COURSES </h3>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-info my-2 my-sm-0" type="submit" >Search</button>
  </form>
    <div class="row" style="padding-top:13px;">
    {% for d in Course %}
      {% if d.course_name == "Database Management System" or d.course_name == "C Language" %}
      <div class="col-lg-3 col-sm-5">
        <div class="thumbnail">
          <div class="card" style="width: 18rem;">
   <div class="card" style="width: 20rem;">
  <img src="{{d.course_img.url}}" height=180px; class="card-img-top" alt="..." style="width:235px;">
  <div class="card-body"> 
            <center><h5 class="card-title" style="color:green"> 
              {{d.course_name}} <b>
            </h5></center> 
              
            
   </div> 
   <div class="card-footer text-center">    
             <button class="btn btn-info btn-sm float-right" style="color:white"> 
                <a href ="{% url 'facgocourse' %}"> </i>Go To Course</a>
              </button> 
              
              
              <button class="btn btn-danger btn-sm float-right"> 
                <a href ="{% url 'factest' %}">Test </a>
              </button>  
               
             
                
              <!--<button class="btn btn-danger btn-sm float-right"
                      id="right" style="color:white"> 
                  Right Button 
              </button> -->
              <div class="pull-right">
              <button class="btn btn-info btn-sm float-right"> 
                <a href ="{% url 'facassigning' %}"> <i class="fa fa-file-text"></i></a>
              </button>  
               
             </div>
    </div>
  <!--<div class="card-body">
    <center><h5 class="card-title">Database Management System</h5></center>
    <p class="card-text">Teacher:</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Go Course</a>
  </div>-->
</div>
        </div>
      </div>

    </div>
    {% endif %}
    {% endfor %}
<!--
      <div class="col-lg-3 col-sm-5">
        <div class="thumbnail">
           <div class="card" style="width: 20rem;">
  <img src= "{% static 'course8.jpeg' %}" height=180px; class="card-img-top" alt="..." style="width:235px;">
  <div class="card-body"> 
            <center><h5 class="card-title" style="color:green"> 
              Object Oriented Programming<b>
            </h5></center> 
              
            
   </div> 
   <div class="card-footer text-center">
               <button class="btn btn-info btn-sm float-right" style="color:white"> 
                <a href ="{% url 'facgocourse' %}"> </i>Go To Course</a>
              </button>    
             
                
              
              <button class="btn btn-danger btn-sm float-right"> 
                <a href ="{% url 'factest' %}">Test </a>
              </button>  
               
             
                
              <!--<button class="btn btn-danger btn-sm float-right"
                      id="right" style="color:white"> 
                  Right Button 
              </button> 
              <div class="pull-right">
              <button class="btn btn-info btn-sm float-right"> 
                <a href ="{% url 'facassigning' %}"> <i class="fa fa-file-text"></i></a>
              </button>  
               
             </div>-->
      
    </div>
    
  <!--<div class="card-body">
    <center><h5 class="card-title">Object Oriented Programming</h5></center>
    <p class="card-text">Teacher:</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Go Course</a>
  </div>
</div>
        </div>
      </div>
      
</div>
-->
        </div>
        
   
      </div>
      
  </div>
  
</div>

 </div>
   
  


{% endblock %}