{% extends 'facmain/facbase.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h3>Students :</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Actions</th>
                <th>Marks</th>
            </tr>
        </thead>
        <tbody>
            {% for student in student_marks %}
            <tr>
                <td>{{ student.0 }}</td>
                <td>
                    <a href="{% url 'viewassignsub' %}?course_id={{ course_id }}&total_marks={{ total_marks }}&assignment_id={{ assignment_id }}&student_id={{ student.0 }}" class="btn btn-outline-primary btn-sm mr-2">View Assignments</a>
                </td>
                <td>
                    {{student.1}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
