{% extends 'facmain/facbase.html' %}
{% load static %}
{% block content %}


     
<div >
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading" style="display: flex; justify-content: space-between; align-items: center;">
                <h4 class="panel-title faqHeader">
                    {{ course_details.course_name }}
                </h4>
                <div>
                    <button class="btn btn-info">
                        <i class="fa fa-plus-square fa-o"></i> 
                        <a href="{% url 'facupload' %}?course_id={{ course_details.course_id }}">Add Materials</a>
                    </button>
                </div>
            </div>
            
            
            {% if course_details.materials %}
            {% for m in course_details.materials %}

            <div class="panel-body">
                <div class="material-item">
                    <p style="margin-top: 1%;">
                        <a data-toggle="collapse" href="#collapse{{ forloop.counter }}" role="button" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}" class="float-left">
                            {{ m.material_title }}
                        </a>
                        <a href="{% url 'facDelMat' %}?material_id={{m.material_id }}&course_id={{ course_details.course_id }} " class="card-link">
                        <button type="button" class="btn btn-sm btn-secondary pull-right float-right" >
                            <i class="fa fa-trash "></i>
                        </button>
                    </a>
                    </p>
                    <div class="collapse" id="collapse{{ forloop.counter }}">
                        <div class="card card-body">
                            <a href="{{ m.material_file.url }}">
                                {{ m.material_title }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
          
            {% endfor %}
            {% else %}
            <!-- Materials list is empty, display a message or handle accordingly -->
            <p style="text-align: center;">No materials uploaded for this course.Please upload it</p>
            {% endif %}
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn btn-circle btn-xl" onclick="toggleDropdown()">
          <i class="fas fa-bars"></i>
        </button>
        <div class="dropdown-content">
            <div class="dropdown-content">
                <button class="dropbtn btn-circle btn-xs">
                    <a  href="{% url 'facsub' %}?course_id={{ course_details.course_id }}">
                        <i class="fas fa-file"></i>
                    </a>
                </button>
            </div>
            
          <button class="dropbtn btn-circle btn-xs">
            <a  href="{% url 'facsub' %}?course_id={{ course_details.course_id }}">

            <i class="fas fa-search"></i>
          </a></button>
          <button class="dropbtn btn-circle btn-xs"><i class="fas fa-user"></i></button>
          <!-- Add more icons as needed -->
        </div>
      </div>
      
      
</div>

<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }
    .dropdown {
  position: fixed;
  display: inline-block;
  right: 5%;
  bottom: 10%;
}

.btn-circle {
  background-color: #6d7fcc; /* Violet color */
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Transition effect */
}

.btn-circle.btn-xl {
  width: 45px;
  height: 45px;
}

.btn-circle.btn-xs {
  width: 45px; /* Adjust size as needed */
  height: 45px; /* Adjust size as needed */
  margin: 7%;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 10px;
  z-index: 1;
  transform-origin: bottom right;
  bottom: calc(100% + 10px);
  right: 5px;
  transition: opacity 0.3s ease; /* Transition effect */
  opacity: 0; /* Initially hidden */
}

.dropdown-content a {
  color: white;
  /* padding: 10px 20px; */
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 50%;
}

.dropdown-content a:hover {
  background-color: #6d7fcc; /* Darker violet color on hover */
}

.dropdown.open .dropdown-content {
  display: block;
  opacity: 1; /* Show on toggle */
}


</style>
<script>
    function toggleDropdown() {
  var dropdown = document.querySelector('.dropdown');
  dropdown.classList.toggle('open');
}
</script>
  

{% endblock %}
