

video{
  opacity: 0.6 !important ;
}

.video-container {
z-index: -100;
width:100% ;
height:100%;
overflow:hidden;
position:fixed;
top:0;
left:0;
}

#video-bg{
  width:100%;
 
}
/* Style the top navigation bar */
/*#myimage{
  padding-right:50px;
  padding-left:50px;

}*/
#text{
  padding-right:25px;
}
#image{
  
  padding: 10px 50px 25px 50px;

}
#access{
  padding-right: 55px;
  padding-left: 55px;
 

}

.my-button {
    display: inline-block;
    margin: 5px; /* space between buttons */
    background:#087cac; /* background color */
    color: black bold; /* text color */
    font-size: 1.5em;
    font-family: ‘Georgia’, serif;
    font-style: italic;
    border-radius: 50px; /* rounded corners */
    padding: 16px 16px; /* space around text */
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.my-button:hover {
    background: #666;
    color:white;
} 
.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
