
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>UHCL</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
<style>
    .container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.forgot-password-form {
    /* Add any additional styles for the form if needed */
}

</style>
</head>


<body>
    <nav class="navbar ">
  <!-- Brand/logo -->
  
</nav>
<div class="container">
    <div class="form-container">
        {% csrf_token %}
        <a class="navbar-brand" href="https://www.uhcl.edu/">
            <img src="{% static 'uhcl.png' %}" alt="logo" style="width:275px;margin-left: 16px;">
        </a>
        <div class="login-content">
        <form class="forgot-password-form" action="{% url 'forgot_password' %}" method="post">
            {% csrf_token %}
            <img src="{% static 'password_reset_lock.jpeg' %}" alt="logo" style="width:375px;" >
            <h3>Forgot your Password?</h3>

            <div class="input-div one focus">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <input type="email" placeholder="Enter Email" class="input" name="email">
                </div>
        </div>
            <button type="submit" class="btn" value="forgot-password">Reset Password</button>
        </form>
        </div>
    </div>
</div>

</body>

</html>
