{% extends 'studmain/studbase.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container">
  <h2>Students Performance Reports (previous sem )</h2>
  

  <table class="w3-table-all">
    <thead>
      <tr class="w3-light-grey ">
        <th>Sem</th>
        <th>Course Id</th>
        <th>Course Name</th>
        <th>Academic Term Period</th>
        <th>Grade</th>
      </tr>
    </thead>
    <tr class="w3-hover-blue">
      <td>4</td>
      <td>15CSE18</td>
      <td>DBMS</td>
      <td>Odd Semester</td>
      <td>A</td>
    </tr>
    <tr class="w3-hover-blue">
      <td>4</td>
      <td>15CSE16</td>
      <td>OOPS</td>
      <td>Odd Semester</td>
      <td>A</td>
    </tr>
    <tr class="w3-hover-blue">
      <td>4</td>
      <td>15CSE17</td>
      <td>TOC</td>
      <td>Odd Semester</td>
      <td>A</td>
    </tr>
    <tr class="w3-hover-blue">
      <td>4</td>
      <td>15CSE19</td>
      <td>COA</td>
      <td>Odd Semester</td>
      <td>A</td>
    </tr>
    <tr class="w3-hover-blue">
      <td>4</td>
      <td>15MAT18</td>
      <td>Maths</td>
      <td>Odd Semester</td>
      <td>A</td>
    </tr>
    <tr class="w3-hover-green">
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td><h5><b>SGPA:9.2</h5></td>
    </tr>
    
  </table>
</div>
  
   
{% endblock %}
