{% extends 'studmain/studbase.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <h3> Any queries in software developemnt please mail any of these</h1>
    <table class="w3-table-all">
            <thread>
            <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact number</th>
        </tr>
    </thread>
        <tr class="w3-hover-blue">
      <td>Ramya Sri  </td>
      <td id="input">cb.en.u4cse18302@cb.students.amrita.edu </td>
      <td>6303561510</td>
    </tr>
    <tr class="w3-hover-blue">
      <td> Harsha  </td>
      <td>cb.en.u4cse18317@cb.students.amrita.edu</td>
      <td>6303561510</td>
    </tr>
    <tr class="w3-hover-blue">
      <td>Sathwika </td>
      <td>cb.en.u4cse18372@cb.students.amrita.edu</td>
      <td>6303561510</td>
    </tr>
    <tr class="w3-hover-blue">
      <td>Sidhi Sri </td>
      <td>cb.en.u4cse18373@cb.students.amrita.edu</td>
      <td>6303561510</td>
    </tr>
        </table>

    
{% endblock %}