{% extends 'studmain/studbase.html' %}
{% load static %}
{% block content %}
   
<div class="container">
    <h1>ASSIGNMENTS</h1>
    
  <div class="row">
  <div class="form-group">
    <div class="col-md-9 personal-info"> 
      
    <a href="{{a.assignment_file.url}}" >Assignment 1 (click to view) </a>
    <p>{{a.message}} </p>
    
    <form class="form-horizontal" role="form" action="/studmain/studpro/" class="post-form" enctype="multipart/form-data" method='POST' >
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary" >
      <span></span>
      </form>

         
           
    
  </div>
  </div>
</div>

 
{% endblock %}
