{% extends 'studmain/studbase.html' %}
{% load static %}
{% block content %}
   
<div class="container">

     <button class='btn btn-info pull-right' >
     <a href ="{% url 'studassignsub' %}">Assignments </a>
        
    </button> 
    <button class='btn btn-info pull-right' >
     <a href ="{% url 'studtest' %}">Quiz </a>
        
    </button> 
          
    <div class="panel-group" id="accordion">
        <div class="faqHeader">DBMS</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Chapter 1</a>
                </h4>
            </div>
            {% for m in materials %}
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <a href={{m.lec_pdf.url}}>
                    {{m.lec_title}}
                    </a>
                </div>
                {% endfor %}
                </div>
        </div>

   <!-- <div class="panel-group" id="accordion">
        <div class="faqHeader">DBMS</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Chapter 1</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <a href="stud_less.html">
                    Introduction 
                </div>
                <div class="panel-body">
                    Database basics 
                </div>
                <div class="panel-body">
                    Database basics 
                </div>
                <div class="panel-body">
                    Relational Model 
                </div>
                <div class="panel-body">
                    Relational Algebra1
                </div>
                <div class="panel-body" >
                    <a href="quiz_start.html">
                    quiz</a>
                </div>

 
                <div class="panel-body">ER Model session</div>
                <div class="panel-body">Enhanced ER diagram</div>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Chapter 2</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    Introduction to SQL
                </div>
                <div class="panel-body">
                    SQL Functions
                </div>
                <div class="panel-body">
                    SQL SET operation and Join
                </div>
                <div class="panel-body">
                    SQL SET operation and Join
                </div>
                <div class="panel-body">
                    SQL View_Index_Sequence_constraints
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Chapter 3</a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Chapter 4</a>
                </h4>
            </div>
        </div>

    </div>
</div>-->

<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
</style>

{% endblock %}
